.container {
  background-color: #F1B5C1;
  text-align: center;
}
[class*="col-"] {
  padding: 90px 0;
  border: 1px solid black;
  position: relative;
}
.nested .col-2,
.nested .col-8,
.nested .col-6  {
  max-height: 210px;
  min-height: 220px;
  border: 1px solid white;
  background: #BB5A6B;
}
.nested {
  padding: 5px;
}
